# Rimelight CLI
# AI Agents Configuration
.agent/
.agents/
_agent/
_agents/
.gemini/
.claude/
.cursor/
.antigravity/
AGENTS.md
CLAUDE.md
GEMINI.md
CURSOR.md
ANTIGRAVITY.md
.cursorrules

# Outputs
.output
.data
.nuxt
.nitro
.vercel_build_output
.build-*
dist

# Dependencies
node_modules

# Logs
logs
*.log
*.cpuprofile

# Misc
.fleet

# Temp directories
.temp
.tmp
.cache

# Testing
reports
coverage
*.lcov
.nyc_output

# Local env Files
.env
.env.*
!.env.example

# Drizzle‑Kit
/server/db/drizzle/*.json
/server/db/drizzle/_journal.json
/server/db/drizzle/*_draft.sql

# Cloudflare Files
.wrangler

# Tauri Files
*.keystore
*.jks
/src-tauri/gen/android/keystore.properties

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
